[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Harmattan Api Showcase
Exec=/usr/bin/invoker --single-instance --splash=/usr/share/harmattanapishowcase/splash.png --type=d /opt/harmattanapishowcase/bin/harmattanapishowcase
Icon=/usr/share/icons/hicolor/80x80/apps/harmattanapishowcase80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
